@import "common.css";
/* main */
main{
	padding:20px 10px;padding-top:100px;padding-bottom:150px;text-align:center;
	margin-bottom: auto;
}
main>#view{
	max-width:600px;
}
@media (max-width:600px){
	main{
		padding-top:50px; padding-bottom:100px;
	}
}

/* #signWrap */
main>#signWrap, main>#signWrap>.sign>.signForm {
	display: none;
}
main>#signWrap {
	margin: 0 auto; width: 100%; max-width: 1200px;
	justify-content: space-evenly;
	flex-flow: row wrap; position:relative;
}
main>#signWrap:after {
    content:""; position: absolute; z-index: -1;
	top: 0; bottom: 0; left: 50%;
    border-left: 1px dashed #8b572a;
    transform: translate(-50%);
}
main>#signWrap>.sign {
	width: 100%; max-width: 30%;
}
main>#signWrap>.sign>.signTitle>h2 {
	position: relative;
}
main>#signWrap>.sign>.signTitle>h2:after {
	content: ""; position: absolute; display: inline-flex;
	bottom: 0; right: 0; z-index: -1;
	width: 60%; height: 15px;
	transform: skew(-40deg);
	background: #8b572a5e;
}
main>#signWrap>.sign>.signTitle>.signNote {
	margin: 40px 0 50px 0;
}
main>#signWrap>.sign>.signForm {
	display: flex;
	flex-flow: column; 
}
main>#signWrap>.sign>.signForm>p {
	margin: 10px 0; 
}
main>#signWrap>.sign>.signForm>#signOr {
	margin: 50px 0;
}
main>#signWrap>.sign>.signForm>input {
	height: 30px;letter-spacing:4px;font-size:inherit;
	margin-bottom:40px; padding: 3px 6px;
}
main>#signWrap>.sign>.signForm>button {
	width:100%;max-width:100%;padding:10px;
	color:#ffffff;background-color:#000000;border:1px solid #979797;
	letter-spacing:4px;font-size:inherit;cursor:pointer; margin: 0 auto;
}
main>#signWrap>.sign>.signForm>#fbLoginBtn {
	background-color:#3b5998;
}
@media (max-width:900px){
	main>#signWrap {
		flex-flow: column nowrap;
		align-items: center;
	}
	main>#signWrap:after {
		display: none;
	}
	main>#signWrap>.sign {
		max-width: 80%;
	}
	main>#signWrap>.sign:first-child {
		margin-bottom: 50px;
	}
	main>#signWrap>.sign>.signTitle {
		cursor: pointer;
	}
	main>#signWrap>.sign>.signTitle>h2:after {
		right: 20%;
	}
	main>#signWrap>.sign>.signTitle>.signNote {
		margin: 30px 0 40px 0; padding: 0 12px; 
	}
	main>#signWrap>.sign>.signForm {
		padding: 0 20px 40px 20px; display: none; opacity: 0;
		transition: all .2s ease;
	}
	main>#signWrap>.sign>.signFormGrow {
		display: flex; opacity: 1;
	}
	main>#signWrap>.sign>.signForm>p{
		margin: 6px 0;
	}
	main>#signWrap>.sign>.signForm>#signOr {
		margin: 25px 0;
	}
	main>#signWrap>.sign>.signForm>input{
		margin-bottom:30px; padding: 3px 6px;
	}
	main>#signWrap>.sign>.signForm>button {
		width:100%;
	}
}
/* .profile */
main>#view {
	display: none; flex-flow: column; 
	width:100%; max-width: 1200px;
	margin: 0 auto; align-items: center;
}
main>#view>.profile{
	display:flex; flex-flow: column;
	width: 90%;
	align-items:center;
}

main>#view>.profile>.settingsBtns{
	display: flex; width: 100%;
	flex-flow: column;
}

main>#view>.profile>.settingsBtns div{
	display: flex; width: 100%;
	flex-flow: row;
}

main>#view>.profile>.settingsBtns button{
	display:inline-flex; justify-content: center;
	flex: 1 1 12.5%; height: 76px; padding-top: 48px;
	background-repeat: no-repeat; background-position: center 10px;
	background-size: 36px 36px; background-color: #eee;
	cursor: pointer; border:1px solid transparent; outline: none;
	transition: border .2s ease; box-sizing:border-box;
}

main>#view>.profile>.settingsBtns button:hover{
	border: 1px solid white;
}

@media screen and (max-width: 600px) {
	main>#view>.profile>.settingsBtns button{
		background-size: 30px 30px; background-color: #eee;
		padding-top: 0px; height: 52px;
	}
	main>#view>.profile>.settingsBtns button span{
		display: none;
	}
}

main>#view>.profile>.settingsBtns #profileInfo{ background-image: url(../imgs/Resources/Icons_36px_Profile_Selected@2x.png);}
main>#view>.profile>.settingsBtns #orderAll{ background-image: url(../imgs/Resources/Icons_24px_ListView@2x.png);}
main>#view>.profile>.settingsBtns #notYetPay{ background-image: url(../imgs/Resources/Icons_24px_AwaitingPayment@2x.png);}
main>#view>.profile>.settingsBtns #notYetDeliver{ background-image: url(../imgs/Resources/Icons_24px_AwaitingShipment@2x.png);}
main>#view>.profile>.settingsBtns #notYetReceive{ background-image: url(../imgs/Resources/Icons_24px_Shipped@2x.png);}
main>#view>.profile>.settingsBtns #notYetRate{ background-image: url(../imgs/Resources/Icons_24px_AwaitingReview@2x.png);}
main>#view>.profile>.settingsBtns #exchange{ background-image: url(../imgs/Resources/Icons_24px_Exchange@2x.png);}
main>#view>.profile>.settingsBtns #logoutBtn { background-image: url(../imgs/Resources/logout.png); }

main>#view>.profile>.settingsBtns #starred{ background-image: url(../imgs/Resources/Icons_24px_Starred@2x.png);}
main>#view>.profile>.settingsBtns #notification{ background-image: url(../imgs/Resources/Icons_24px_Notification@2x.png);}
main>#view>.profile>.settingsBtns #refunded{ background-image: url(../imgs/Resources/Icons_24px_Refunded@2x.png);}
main>#view>.profile>.settingsBtns #address{ background-image: url(../imgs/Resources/Icons_24px_Address@2x.png);}
main>#view>.profile>.settingsBtns #customerService{ background-image: url(../imgs/Resources/Icons_24px_CustomerService@2x.png);}
main>#view>.profile>.settingsBtns #systemFeedback{ background-image: url(../imgs/Resources/Icons_24px_SystemFeedback@2x.png);}
main>#view>.profile>.settingsBtns #registerCellphone{ background-image: url(../imgs/Resources/Icons_24px_RegisterCellphone@2x.png);}
main>#view>.profile>.settingsBtns #settings{ background-image: url(../imgs/Resources/Icons_24px_Settings@2x.png);}

main>#view>.profile>.panel{
	width: 100%; padding: 10px 0 60px 0;
	display: none;
}

main>#view>.profile>.panel>h3{
	letter-spacing: 4px; margin-bottom: 28px;
	border-bottom: 3px double #fff; border-top: 3px double #fff;
	font-size: 20px; line-height: 3em; color: #8b572a;
}
@media screen and (max-width: 600px) {
	main>#view>.profile>.panel>h3{
		margin-bottom: 14px; margin: 6px 0;
		font-size: 16px;
	}
}

main>#view>.profile>.panel>.basicInfo{
	width: 100%; max-width: 90%; margin: 0 auto; display: flex;
	justify-content: center; align-items: center;
}

@media screen and (max-width: 600px) {
	main>#view>.profile>.panel>.basicInfo{
		flex-flow: column;
	}
}

dl{
	display:flex; flex-wrap: wrap; font-size: 16px;
	border-top: none; width: 90%; margin: 0 auto;
	text-align: left;
}
dt{
	width: 10%; padding: 3px 6px;
	box-sizing: border-box; color: #fff;
	background-color: #979797;
}
dd{
	padding: 3px 6px; margin: 0; background-color: #fff;
	width: 90%;	box-sizing: border-box;
	text-align: left;
}
.separate-line {
	width: 90%; height: 40px; margin: 12px auto;
	background-image: url(../imgs/b_ornament_145_0L.png);
	background-size: 100%; background-repeat: no-repeat;
	background-position: center;
}

@media screen and (max-width: 600px) {
	dl{
		flex-flow: column nowrap;
	}
	dt, dd{
		width: 100%;
	}
	dd{
		border-left: none;
	}
}

/* 大頭貼的容器 */
main>#view>.profile>.panel>.basicInfo>.picture{
	width: 200px; flex: 0 1 auto;
	border-radius: 50%;
}
/* 大頭貼 */
main>#view>.profile>.panel>.basicInfo>.picture>img{
	width:100%;
	border-radius: 50%;
}
/* 個人資料 */
main>#view>.profile>.panel>.basicInfo>.details{
	flex:1 1 auto; font-size:18px;
	margin-left: 40px; text-align: left; padding-top: 10px;
}

@media (max-width:600px){
	main>#view>.profile>.panel>.basicInfo>.picture{
		margin-top: 20px;
	}
	main>#view>.profile>.panel>.basicInfo>.details{
		width:100%; margin:0 auto;  text-align: center;
	}
}
.updateForm {
	display: flex; flex-flow: row; width:100%; max-width: 90%;
	margin: 0 auto; justify-content: space-around; align-items: center;
}
#currIconWrap {
	width: 200px; flex: 0 1 auto;
	border-radius: 50%;
}
#currIcon {
	width:100%;
	border-radius: 50%;
}
#updateIcon {
	border: 1px solid #979797;
	margin-top: 12px; background-color: #fff;
}
.updateForm>.ufdiv {
	display: flex; flex-flow: column; width:100%; max-width: 40%;
	align-items: center;
}
.updateForm p {
	margin: 6px 0; width:100%;
}
.updateForm input{
	margin-bottom:30px; padding: 3px 6px; width:100%;
}
.updateForm button {
	width:100%;max-width:100%;padding:10px;
	color:#ffffff;background-color:#000000;border:1px solid #979797;
	letter-spacing:4px;font-size:inherit;cursor:pointer; margin: 0 auto;
}
@media (max-width:900px){
	.updateForm {
		flex-flow: column;
	}
	.updateForm>.ufdiv {
		max-width: 100%;
	}
}
#csurl {
	width: 100%; max-width: 90%; height: 100vh;
	margin: 0 auto;
}